@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #161a30;
  color: #f0ece5;
  font-family: Arial, sans-serif;
}
header {
  width: 100%;
}

.Navbar {
  background-color: #31304d;
  display: flex;
  padding: 0px;
  font-family: sans-serif;
  gap: 5rem;
  justify-content: flex-start;
  color: #fff;
  align-items: center;
  border-radius: 25px;
}

.Navbar img {
  width: 100px;
  height: 100px;
}
.Navbar__Link {
  padding-right: 8px;
  margin: 0px 20px;
}

.Navbar__Link a {
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
  font-size: 23px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 1085px) {
  .Navbar {
    gap: 3rem;
  }
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

.portfolio1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 7rem;
}

.portfolio1 ul {
  background-color: #31304d;
  padding: 2rem;
  border-radius: 25px;
  list-style-type: none;
  width: 500px;
}

.portfolio1 ul hr {
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 2px;
  background: linear-gradient(to right, #31304d 0, #b6bbc4, #31304d 100%);
  border: none;
}

.portfolio1 img {
  height: 350px;
  margin-top: 30px;
  text-align: center;
}

.imgnova {
  text-align: center;
}

.portfolio1 h2 {
  text-align: center;
}


@media screen and (max-width: 500px) {
  .portfolio1 {
    margin: 1rem;
  }

  .portfolio1 img {
    height: 250px;
  }
} 



@media only screen and (max-width: 1085px) {
  .Navbar {
    gap: 3rem;
  }
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

.portfolio1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 7rem;
}

.portfolio1 ul {
  background-color: #31304d;
  padding: 2rem;
  border-radius: 25px;
  list-style-type: none;
}

.portfolio1 ul hr {
  margin-bottom: 1rem;
}

.portfolio1 img {
  height: 250px;
}

@media screen and (max-width: 500px) {
  .portfolio1 {
    margin: 1rem;
  }

  .portfolio1 img {
    height: 250px;
  }
}